<div class="footer">
  <div class="wrapper">
    <div class="left">
      <img
        src="https://assets-global.website-files.com/6050a76fa6a633d5d54ae714/609147088669907f652110b0_report-an-issue(about-maps).jpeg"
        alt=""
        class="map"
      />
    </div>
    <div class="right">
      <span class="address"
        >soniya nagar , blikkaraduth ,bengladedh , India 671321</span
      >
      <span class="address"
        >Mon District is the home of the Konyak Nagas. It covers an area of 1786
        Sq.km., and is bounded on the North by Sibsagar District of Assam, on
        the South by Tuensang District of Nagaland and Myanmar (Burma), on the
        East by Myanmar (Burma) and on the West by Tuensang and Mokokchung
        Districts of Nagaland. On her Northeast lies the Tirap District of
        Arunachal Pradesh. The altitude of Mon district headquarters is 897.64
        meters above sea level. Currently Shri. Mayang Lima is the District and
        Sessions Judge of Mon district.</span
      >
      <span class="address">Marine Drive, Ernakulam, Kerala 682031</span>

      <span class="address"
        >FR3C+8G5, Nyaya Marg, Canton, Dhoomanganj, Prayagraj, Uttar Pradesh
        211001</span
      >
      <span class="contact">Email : tvaofficial@gmail.com</span>
      <span class="contact">phone : 9995559990</span>
    </div>
  </div>
</div>
