<app-navbar></app-navbar>
<div class="cart">
  <div class="wrapper">
    <div class="left">
      <div class="top">
        <h1 class="title">Shopping Cart</h1>
        <span class="label-price">Price</span>
        <hr />
      </div>
      <div class="bottom">
        <app-cart-item></app-cart-item>
        <app-cart-item></app-cart-item>
        <app-cart-item></app-cart-item>
      </div>
    </div>
    <div class="right">
      <div class="r-wrapper">
        <div class="r-top">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1Br3XDd3Kxvi7RBNAfHO8cSxS11iJ1epgOA&usqp=CAU"
            alt=""
            class="tick"
          />
          <span class="text">Your order is eligible for FREE Delivery. </span>
        </div>
        <span class="total">Subtotal (2 items):   54,589.00 /-</span>
        <button class="checkout">Proceed to Buy</button>
        <select name="" id="" class="select">
          <option value="" class="option">EMI available</option>
          <option value="" disabled class="option">
            Your order qualifies for EMI with valid credit cards (not available
            on purchase of Gold, Jewelry, Gift cards and Amazon pay balance top
            up).
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
