<app-navbar></app-navbar>
<div class="product">
  <div class="left">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROIuZOd02rsTGSRfNmuIvOanW_F0y9LJTA3g&usqp=CAU"
      alt=""
      class="image"
    />
    <button class="share">share</button>
  </div>
  <div class="right">
    <h1 class="title">Samsung Galaxy S22 5G (Green, 8GB, 128GB Storage)</h1>
    <div class="priceDetails">
      <span class="text"> Deal of the Day </span>
      <span class="price"><span class="discount">-38% </span> ₹ 52,999</span>
      <s class="mrp"> M.R.P.: ₹85,999.00</s>
    </div>
    <div class="about">
      <h5 class="about-title">About this item</h5>
      <div class="abouts">
        <span class="about-text">
          VisionBooster outshines the sun: Stunning 120Hz Dynamic AMOLED 2X
          display is crafted specifically for high outdoor visibility, keeping
          the view clear in bright daylight. 4nm processor, our fastest chip
          yet: Our fastest, most powerful chip ever. That means, a faster CPU
          and GPU compared to Galaxy S21 Ultra. It’s an epic leap for smartphone
          technology. Sleek design in a range of colors lets you express
          yourself how you like. Connector type: usb type c </span
        ><span class="about-text">
          Pro-grade Camera that lets you make your nights epic with
          Nightography: It’s our brightest innovation yet. </span
        ><span class="about-text">
          The sensor pulls in more light, the Super Clear Glass dials down lens
          flare, and fast-acting AI delivers near-instant intelligent
          processing. </span
        ><span class="about-text">
          The slim bezels flow into a symmetrical polished frame for an
          expansive, balanced display. Corning Gorilla Glass Victus+ on the
          screen and back panels.
        </span>
      </div>
    </div>
    <button class="addtocart">Add to Cart</button>
  </div>
</div>
<app-footer></app-footer>
