<div class="cartItem">
  <div class="wrapper">
    <div class="left">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROIuZOd02rsTGSRfNmuIvOanW_F0y9LJTA3g&usqp=CAU"
        alt=""
        class="image"
      />
    </div>
    <div class="center">
      <h2 class="title">
        TheGiftKart Crystal Clear Back Cover Case for Samsung Galaxy S22 5G |
        360 Degree Protection | Shock Proof Design | Transparent Back Cover Case
        for Samsung Galaxy S22 5G (Black Bumper)TheGiftKart Crystal Clear Back
      </h2>
      <span class="instock"> In stock </span>
      <span class="details">
        Colour: Phantom White Size name: 8GB RAM + 128GB Storage Style name:
        with offer
      </span>
      <div class="quantity">
        Qty : <input type="number" class="qty" value="1" />
      </div>
    </div>
    <div class="right">
      <div class="sign">₹</div>
      <div class="price">52,999.00</div>
    </div>
  </div>
</div>
