<div class="container">
  <div class="wrapper">
    <h1 class="title">Register</h1>
    <div class="inputItem">
      <span class="text">user-Name</span>
      <input type="text" name="" class="input" id="" />
    </div>
    <div class="inputItem">
      <span class="text">user-Email</span>
      <input type="text" name="" class="input" id="" />
    </div>
    <div class="inputItem">
      <span class="text">user-Password</span>
      <input type="text" name="" class="input" id="" />
    </div>
    <button class="button">Register</button>
  </div>
</div>
